body {
    background-image: url(https://mcdn.wallpapersafari.com/medium/87/27/eqKICU.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    max-width: 100%;
}

#nav {
    margin-bottom: 10px;
}

.navbar-brand {
    font-family: 'Abril Fatface', cursive;
}

.fa {
  font-size: 16px;
}

.btn-outline-success {
    border-color: white;
    color: white;
}

#chart-container * {
    overflow-x: scroll;

}
#table-container * {
    position: relative;
    overflow-x: scroll;

}


td {
  font-size: 12px;
}

th {
  font-size: 16px;
}

footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
